<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    <h2>Items for Sale</h2>
    <ul>
        {% for item in items %}
        <li>
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
            <p>Price: ${{ item.price }}</p>
            <p>Date Added: {{ item.date }}</p>
            <p>Owner: {{ item.seller }}</p>
            <p>status: {{item.availability}}</p>
            <form method="POST" action="{% url 'add_to_cart' item.id %}">
                {% csrf_token %}
                <button type="submit">Add to Cart</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'cart' %}">Go to Cart</a></p>
</body>
</html>
